<nav class="navbar">
    <h2 class="navbar__title">
        <img class="navbar__logo" src="{{ asset('media/architektur-logo-dark.svg') }}" alt="">
        archi_tektur
    </h2>
    <ul class="navbar__links">
        <li class="navbar__element">
            <a class="navbar__link" href="">O mnie</a>
        </li>
        <li class="navbar__element">
            <a class="navbar__link" href="">Stack</a>
        </li>
        <li class="navbar__element">
            <a class="navbar__link" href="">Projekty</a>
        </li>
        <li class="navbar__element">
            <a class="navbar__link" href="">Usługi</a>
        </li>
        <li class="navbar__element">
            <a class="navbar__link" href="">Kontakt</a>
        </li>
    </ul>
</nav>