<main class="maintenance">
    <h1 class="maintenance__title">Hej!</h1>
    <p class="maintenance__text">
        Pracujemy nad tym, by dostarczyć tutaj nowoczesną, szybką i inteligentną platformę wystawiania faktur.
        Potrzebujemy jeszcze trochę czasu aby upewnić się, że w chwili uruchomienia zapewnimy Ci najwyższy standard
        usługi. O postępach prac będziemy informować za pomocą naszych mediów społecznościowych.
    </p>
</main>