{% macro section_titile(title) %}
    <header class="section-title">
        <h2 class="section-title__content">{{ title }}</h2>
        <div class="section-title__strike"></div>
    </header>
{% endmacro %}