<div class="box">
    <h2 class="box__title">
        <span class="fas fa-sign-in-alt fa-fw box__title-icon"></span>
        Log in
    </h2>
    <p class="box__text">This app is using SSO for login.</p>
    <a href="{{ url('sso_request') }}">Click here to be verified</a>.
</div>