<article class="parties">
    <section class="parties__person parties__person--seller">
        <h2 class="parties__title">Sprzedawca</h2>
        <div class="parties__data parties__data--personal">
            <span class="parties__line parties__line--bold">Oskar Barcz</span>
            <span class="parties__line">Ul. Stanisława Moniuszki 10/P/4</span>
            <span class="parties__line">40-005 Katowice</span>
        </div>
        <div class="parties__data parties__data--personal">
            <span class="parties__line">
                <span class="parties__line--bold">NIP:</span>
                9542811840
            </span>
            <span class="parties__line">
                <span class="parties__line--bold">REGON:</span>
                12345678901112
            </span>
        </div>
    </section>
    <section class="parties__person parties__person--customer">
        <h2 class="parties__title">Nabywca</h2>
        <div class="parties__data parties__data--personal">
            <span class="parties__line parties__line--bold">Daniel Kłoda</span>
            <span class="parties__line">Ul. Chorzowska 5/17</span>
            <span class="parties__line">41-910 Bytom</span>
        </div>
        <div class="parties__data parties__data--personal">
           <span class="parties__line">
                <span class="parties__line--bold">NIP:</span>
                1234567890
            </span>
            <span class="parties__line">
                <span class="parties__line--bold">REGON:</span>
                12345678901112
            </span>
        </div>
    </section>
</article>