<footer class="footer">
    <span class="footer__text">
        Strona <span class="footer__text--bold">1</span> z <span class="footer__text--bold">1</span>
    </span>
    <div class="footer__text">
        Faktura wygenerowana w programie <span class="footer__text--bolder">Invoicer</span>
    </div>
</footer>