<header class="header">
    <div class="header__details">
        <img class="header__logo" src="{{ asset('media/architektur-logo-dark.svg') }}" alt="">
        <h1 class="header__title">Faktura VAT <span class="header__title--light">nr</span>1/1970</h1>
        <div class="header__details">
            <span class="header__line">
                <span class="header__line--title">Numer zamówienia:</span>
                44/EU/1970
            </span>
            <span class="header__line">
                <span class="header__line--title">Data rozpoczęcia usługi:</span>
                1.01.1970r.
            </span>
            <span class="header__line">
                <span class="header__line--title">Data zakończenia usługi:</span>
                31.01.1970r.
            </span>
        </div>
    </div>
    <div class="header__issue">
        <span class="header__issue-text">
            Wystawionio dnia
            <span class="header__issue-text--bold">01.01.1970r. </span>
            w
            <span class="header__issue-text--bold">m. Katowice</span>
        </span>
    </div>
</header>