<section class="summary">
    <div class="summary__prices">
        <div class="summary__head">
            <h2 class="summary__title">
                Do zapłaty razem:
                <span class="summary__title--price">5&nbsp;880.94</span> PLN
            </h2>
            <span class="summary__text">
            W tym podatek VAT:
            <span class="summary__text--bold">1&nbsp;099.69 PLN</span>.
        </span>
            <span class="summary__text">
                Kwota dokumentu bez podatku:
            <span class="summary__text--bold">4&nbsp;781.25&nbsp;PLN</span>
        </span>
        </div>
        <div class="summary__payment">
            <span class="summary__text">
                Sposób zapłaty:
                <span class="summary__text--bold">przelew</span>
            </span>
            <span class="summary__text">
                Termin płatności:
                <span class="summary__text--bold">2020-03-08</span>
            </span>
            <span class="summary__text">
                Numer rachunku:
                <span class="summary__text--bold">
                    44&nbsp;1020&nbsp;4900&nbsp;0000&nbsp;8102&nbsp;3271&nbsp;
                </span>
            </span>
        </div>
    </div>
    <div class="summary__visual">
        <table class="summary__table table">
            <tr class="table__row table__row--header">
                <th class="table__field">Stawka vat</th>
                <th class="table__field">Kwota netto</th>
                <th class="table__field">Kwota vat</th>
                <th class="table__field">Kwota brutto</th>
            </tr>
            <tr class="table__row">
                <th class="table__field">23%</th>
                <th class="table__field">4&nbsp;781.25&nbsp;</th>
                <th class="table__field">1&nbsp;099.69</th>
                <th class="table__field">5&nbsp&nbsp;880.94</th>
            </tr>
            <tr class="table__row">
                <th class="table__field table__field--bold">razem</th>
                <th class="table__field table__field--bold">4&nbsp;781.25&nbsp;</th>
                <th class="table__field table__field--bold">1&nbsp;099.69</th>
                <th class="table__field table__field--bold">5&nbsp&nbsp;880.94</th>
            </tr>
        </table>
    </div>
</section>